<div class="mContainer" [class.isPortrait]="isPortrait">
	<mat-toolbar color="primary" class="mToolbar">
		<mat-toolbar-row>
			<button [matBadge]="Users.size"  matBadgePosition="below after" [matBadgeHidden]="Users.size == 0" matBadgeColor="accent" mat-icon-button *ngIf="isPortrait" (click)="snav.toggle()">
				<mat-icon>contacts</mat-icon>
			</button>
			<h1 class="title">{{ Lang.lang.app.title }} {{ Channel.channelName ? '@ '+Channel.channelName : ''}}</h1>
			<span class="mToolbarSpacer"></span>
			<button mat-icon-button (click)="share()">
				<mat-icon *ngIf="isOnline">share</mat-icon>
			</button>
			<mat-icon *ngIf="!isOnline">signal_wifi_off</mat-icon>
			<button mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="openNamePickerDialog()">{{Lang.lang.app.changeName}}</button>
				<div mat-menu-item>
					<mat-slide-toggle name="notifications" [(ngModel)]="Notification.isGranted" labelPosition="before" (change)="toggleNotifications()">
						{{Lang.lang.app.showNotifications}}
					</mat-slide-toggle>
				</div>
				<mat-divider></mat-divider>
				<button mat-menu-item (click)="exit()">{{Lang.lang.app.exit}}</button>
			</mat-menu>
		</mat-toolbar-row>
	</mat-toolbar>
	
	<mat-sidenav-container class="sidenavContainer" [class.nudge]="nudging">
		<mat-sidenav #snav [style.width]="width" [fixedInViewport]="isPortrait" [mode]="isPortrait ? 'over' : 'side'" [opened]="isLandscape" [disableClose]="isLandscape">
			<mat-nav-list>
				<connected-peer *ngFor="let user of Users | keyvalue" [user]="user.value" (calling)="sendCall($event)" (nudging)="sendNudge($event)"></connected-peer>
			</mat-nav-list>
		</mat-sidenav>

		<mat-sidenav-content id="chat">
			<div id="history">
				<message *ngFor="let message of Messages" (quote)="quoting($event)" [message]="message" [style.align-self]="message.byMe ? 'flex-end' : 'flex-start'"></message>
			</div>
			<div id="keyboard">
				<div id="visualKeyboard" [class.quoteO]="Quote != null">					
					<div id="imgPreview" *ngIf="PhotoPreview != null">
						<div class="quoteSpacer"></div>
						<div id="previewCont">
							<img alt="preview" [class]="PhotoPreview.filter" [src]="PhotoPreview.url"/>
						</div>
						<button mat-icon-button type="button" (click)="PhotoPreview = null">
							<mat-icon>clear</mat-icon>
						</button>
					</div>
					<div id="quote" *ngIf="messagePayload.media != null || Quote != null">
						<div class="quoteSpacer" *ngIf="messagePayload.media == null"></div>
						<div id="audioPreview" *ngIf="messagePayload.media">
							<audio #audio [src]="audioBlobURL"></audio>
							<button mat-icon-button (click)="audio.paused ? audio.play() : audio.pause()" type="button">
								<mat-icon *ngIf="audio.paused">play_circle_outline</mat-icon>
								<mat-icon *ngIf="!audio.paused">pause_circle_outline</mat-icon>
							</button>
						</div>
						<quote *ngIf="Quote != null" [message]="Quote"></quote>
						<button *ngIf="Quote != null" mat-icon-button type="button" (click)="Quote = null">
							<mat-icon>clear</mat-icon>
						</button>
						<div class="quoteSpacer" *ngIf="Quote == null"></div>
					</div>
					<form id="text" #mForm="ngForm" (ngSubmit)="sendMessage()">
						<button mat-icon-button type="button" (click)="openPhotoBoot()">
							<mat-icon>photo_camera</mat-icon>
						</button>
						<div id="inputarea">
							<div id="inputPlaceholder" [style.visibility]="!messagePayload.message || messagePayload.message.length == 0 ? 'visible' : 'hidden'">
								{{Lang.lang.app.typeYourMessage}}
							</div>
							<div id="input" contenteditable="true" name="messagePayload.message" (keydown)="onKeydown($event)" [(ngModel)]="messagePayload.message" spellcheck="true"></div>
						</div>
						<button mat-icon-button type="submit">
							<mat-icon>send</mat-icon>
						</button>
					</form>
				</div>
				<button mat-fab (click)="toggleRecording()" <!--(press)="startRecording()" (pressup)="stopRecording()"--> color="accent">
					<mat-icon *ngIf="!Media.isProcesingAudio && !Media.isRecordingAudio">mic</mat-icon>
					<mat-icon *ngIf="!Media.isProcesingAudio && Media.isRecordingAudio" class="rec">stop</mat-icon>
					<mat-progress-spinner *ngIf="Media.isProcesingAudio" diameter="20" class="centeredSpinner" mode="indeterminate"></mat-progress-spinner>
				</button>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
